.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  & li {
    height: 35rem;
    padding: 2rem;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
  }

  .small {
    flex-basis: 30%;

    @include respond(tab-land) {
      flex-basis: 50%;
    }

    @include respond(tab-port) {
      flex-basis: 100%;
    }
  }

  .large {
    flex-basis: 70%;

    @include respond(tab-land) {
      flex-basis: 50%;
    }

    @include respond(tab-port) {
      flex-basis: 100%;
    }
  }
}
