header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 3.5rem 10rem 0;
  opacity: 0;
  animation: fadeIn 1s 0.5s forwards;
  position: absolute;
  color: var(--color-light);

  & h2 {
    font-family: 'Quicksand', sans-serif;
  }

  & nav ul {
    display: flex;
    margin-right: -1.5rem;
  }

  & li {
    margin: 0 1.5rem;
  }
}
