header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 3.5rem 10rem 0;
  opacity: 0;
  animation: fadeIn 1s 0.5s forwards;
  position: absolute;
  color: var(--color-light);

  @include respond(tab-port) {
    padding: 2rem 5rem;
    flex-direction: column;
  }

  & h2 {
    font-family: 'Quicksand', sans-serif;

    @include respond(tab-port) {
      padding-bottom: 1.5rem;
    }
  }

  & nav ul {
    display: flex;
    margin-right: -1.5rem;
  }

  & li {
    margin: 0 1.5rem;
  }
}
