// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.hero {
  position: relative;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  color: var(--color-light);

  &__bg-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    background-color: #80a3db;
  }

  &__content {
    opacity: 0;
    margin-top: 10rem;
    animation: 1s slideFadeIn 1s forwards;
  }

  & h1 {
    font: bold 6rem 'Open Sans', sans-serif;
    letter-spacing: 0.4rem;
    margin-bottom: 1.5rem;
  }

  & h3 {
    font: normal 2.8rem 'Open Sans', sans-serif;
    letter-spacing: 0.2rem;

    margin-bottom: 4rem;
  }

  & .btn {
    padding: 2rem 4.6rem;
    color: var(--color-light);
    letter-spacing: 2px;
  }
}

section:not(.hero):nth-child(even) {
  background-color: #f5f5f5;
}

.packages {
  & .grid li {
    padding: 5rem;
    flex-basis: 50%;
    text-align: center;

    & i {
      color: #8c9eff;
      font-size: 6rem;
    }

    & h4 {
      font-size: 4rem;
      margin: 3rem 0;
    }
  }
}

.testimonials {
  .quote {
    font-size: 2.2rem;
    font-weight: 300;
    line-height: 1.5;
    margin: 4rem 0 2.5rem;
  }
}

.contact {
  & form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;
  }

  & form input {
    padding: 1.5rem;
    margin-right: 3rem;
    font-size: 1.8rem;
    color: #555;
    flex: 1;
    border-radius: 3px;
    border: none;
  }
}
